# Virtual Environment
venv/
env/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so

# IDE
.vscode/
.idea/
*.swp
*.swo

# Database
*.db
*.sqlite
database/backup/*.sql

# Reports
reports/pdf/*.pdf
reports/excel/*.xlsx

# Logs
logs/*.log

# OS
.DS_Store
Thumbs.db
desktop.ini